<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>638CE572-5F67-474A-99B7-1C079023D64F.playgroundpage</string>
		<string>144E62F2-71DC-4EEB-BEDF-773EC08C5727.playgroundpage</string>
	</array>
</dict>
</plist>
